# Dependency directories
**/node_modules/
**/dist/
**/dist-ssr/
**/*.local

# Environment variables
**/.env
**/.env.sample
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Operating System Files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
